{% extends 'base1.html' %}
{% block title %}
密码管理
{% endblock %}
{% block style %}
     .active{

    background-color:red;}
{% endblock %}
{% block content %}
     <h2>个人信息：</h2>
    <div>
    <a href="/information/base/">基本信息</a>
    <a href="/information/password/" class="active">修改密码</a>
    </div>
    <form action="/information/password/" method="post">
    {% csrf_token %}
<div>

<div>

    <label>原密码：</label>
    <div>
    <input type="password" placeholder="原密码" name="oldpwd"> </div>

</div>
<div>

    <label>新密码：</label>
    <div>
    <input type="password" placeholder="新密码" name="newpwd1" id="newpwd1">
        </div>

</div>
<div>

    <label>再次输入新密码：</label>
    <div>
    <input type="password" placeholder="再次输入新密码" name="newpwd2" id="newpwd2">
        </div>

</div>
<div>
    <span>{{ error }}</span>
</div>

</div>
    <div>
    <input type="submit" value="确认修改" style=" color: #31b0d5;font-size: 15px; background-color: white;">
    <input type="button" value="取消" style=" color: #31b0d5;font-size: 15px; background-color: white;">
    </div>
    </form>


{% endblock %}